body{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #4A87E2;
    color: white;
    cursor: pointer;
    border: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    border-radius: 10px;
    font-size: 24px;
}
.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40%;
    border-radius: 5%;
    background-color: #65DB5A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-admin{
    position: fixed;
    bottom: 12%;
    padding: 0;
    right: 3%;
    background-color: #F3F6F9;
}

#myForm{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 12%;
    padding: 0;
    right: 2%;
    background-color: #F3F6F9;
}

/* The popup chat - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 100%;
}

.head-container {
    border-bottom: 1px solid #E2E3E4;
    text-align: center;
    height: 10%;
    position: relative;
}

.head-container h3{
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Add styles to the form container */
.form-container {
    width: 100%;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

.chat-buble-container {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}


/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.chat-buble{
    width: 100%;
    margin-bottom: 2%;
}


.time-message{
    margin: 0;
    margin-top: auto;
    font-size: 10px;
}

.text-buble-left{
    min-height: 10%;
    min-width: none;
    background-color: #F3F6F9;
    border-radius: 10px;
    font-size: 12px;
    padding: 2%;
}

.text-buble-right{
    min-height: 10%;
    min-width: none;
    background-color: #F8F8F8;
    border-radius: 10px;
    font-size: 12px;
    padding: 2%;
}

.bottom-container{
    width: 100%;
    margin: 0;
    height: 10%;
    
}

.c-blue-btn{
    color: white;
    background-color: #4A87E2;
    padding: 0;
    width: 35px;
    height: 35px;
}

.input-group {
}

.container-chat {
    overflow-y: scroll;
}

.dashboard-admin{
    background-color: white;
}

.unread {
    background-color: #F3F6F9;
}
.input-group .form-control-feedback{
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.input-group .form-control {
    padding-left: 2.375rem;
}

.chat {
    height: 15%;
    border: 2px solid #F8F8F8;
}

.text-chat {
    font-size: 10px;
}

.drag-area{
    border: 5px dashed black;
    background-color: white;
}

.drag-area.active{
    border: 5px solid black;
}

.drag-area .icon{
    font-size: 100px;
}
.drag-area header {
    font-weight: 500;
}

.drag-area img{
    height: 100%;
}
.drag-area span {
    font-weight: 500;
    margin: 10px 0 15px 0;
}

.drag-area button{
    font-weight: 500;
    border: none;
    outline: none;
    background-color: #fff;
    color: #5256ad;
    cursor: pointer;
}